<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>OMS</title>
  
  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/style.min.css" rel="stylesheet">
  
<script th:inline="javascript">
/*<![CDATA[*/
	var productjson = /*[[${session.products}]]*/ 'Product data not loaded';
	
	var clearPage = /*[[${clearCart}]]*/ ''; 
	//alert(productjson + '  ::: '+productjson );
	 
/*]]>*/
</script>

  <script src="js/tree.js"></script>
  <script src="js/cart.js"></script> 	

</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="#" >
        <strong class="blue-text">OMS</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="/home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/order">My Orders</a>
          </li>
	  	 <li class="nav-item">
            <a class="nav-link waves-effect" href="/cart">
              <span class="badge red z-depth-1 mr-1"> . </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>	
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/seller">Seller</a>
          </li> 
          <li class="nav-item">
            <a href="/seller" class="nav-link waves-effect">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
	  <li class="nav-item">
            <a class="nav-link waves-effect" href="/logout">Logout</a>
          </li> 	
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

  <!--Main layout-->
  <main>
  	
    <div class="container-fluid">
		
	  <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      </nav>
      <!--/.Navbar-->
      
      <h4><p th:text="'Hello, ' + ${session.customer?.name} + '!'" /></h4>
      
      <button id="btnBack" type="button" class="btn button_spcl" onClick="goBack()">Back</button><br/>	
      
      <!--Section: Products v.3-->
      <section class="text-center mb-4">
      	
      	<!--Grid row-->
        <div class="row wow fadeIn" id="contentPanel">
        
        </div>
        <!--Grid row-->

      </section>
      <!--Section: Products v.3-->	
	
    </div>
  </main>
  <!--Main layout-->

  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright: S. Das
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  
<script>

   //Check if the products tree is populated 	
   console.log(tree);

   var navigation = [];		

   displayCategory(0);	

   function goBack() {
	if(navigation.length > 1){
		navigation.pop();
		toDisplay = navigation[navigation.length-1];
		navigation.pop();
		displayCategory(toDisplay);
	}
   }		
   	
   function displayCategory(id) {
	navigation.push(id);	
	
	$("#contentPanel").empty();

	node = searchNode(id);
	//alert(node+'  '+node.id+'  '+node.data+'  '+node.data.name+'   '+node.data.edgeCategory);
	
	//var bkBtnHtml = '<button id="btnBack" type="button" class="btn button_spcl" onClick="goBack()">Back</button><br/>';
	//var bkBtn = $(bkBtnHtml);
	//bkBtn.appendTo('#contentPanel');
	
	if(node.data.edgeCategory){
		/*
		html = displayItem(node.data.name, node.children);
		alert(html);
		var myPanel = $(html);
       	myPanel.appendTo('#contentPanel');
       	*/
	    //Display Items
	    
	    //alert('Edge Category: '+node.data.name+ ' has children = '+node.children.length);
	    
	    for(var k = 0; k < node.children.length; k++){
			item = node.children[k];
			//alert(cat.id+ '  '+cat.data.name); 
			
			var params = item.id + ',' + '\''+ item.data.code + '\',' + '\''+ item.data.name + '\',' ;
	      	params += '\''+ item.data.description + '\',' + item.data.price + ',' + '\''+ item.data.unit + '\',' ;
	      	params += '\''+ item.data.code + '-qty\'';
			
			//Display items in he sub-categories	
			<!--Grid column-->
			var myCol = $('<div class="col-md-4 mb-4">'); 
	        var html = ' <div class="p-4" align=left>';
	        html += '      <p class="lead font-weight-bold">'+item.data.name+'</p>';
	        html += '      <p>'+item.data.description+'</p>';
	        html += '        <input name="'+item.data.code+'-qty" type="number" value="'+item.data.defaultValue+'" min="'+item.data.min+'" max="'+item.data.max+'" step="'+item.data.step+'" aria-label="Search" class="form-control" style="width: 100px">';
	        
	        var disabled = "";
	        var addBtnCaption = "Add to cart";
	        if(!isItemInCart(item.data.code)){
	      		disabled = "disabled";	
	      	}else{
	      		addBtnCaption = "Update cart";
	      	}
	        
	        html += '<button id="btnAddToCart-'+item.data.code+'" class="btn btn-primary btn-md my-0 p" type="button" onClick="addItemToCart('+params+')">'+addBtnCaption+'</button>';
	        
      		html += '<button id="btnRemoveFromCart-'+item.data.code+'" '+disabled+' class="btn btn-primary btn-md my-0 p" type="button" onClick="removeItemFromCart('+params+')">Remove</button>';
	        
	        html += '        </button>';
	        html += '    </div>';
        	<!--Grid column-->
			
        	var myPanel = $(html);
	       	myPanel.appendTo(myCol);
	       	myCol.appendTo('#contentPanel');
	       	
	       	//alert('Added item');
	   }
	}else{

	     //Display sub-categories	
	    for(var k = 0; k < node.children.length; k++){
		cat = node.children[k];
		//alert(cat.id+ '  '+cat.data); 

			var myCol = $('<div class="col-lg-3 col-md-6 mb-4"></div>');
			
			var html = "";
			html += '<div class="card">';
			html += '  <div class="card-body text-center">';
			html += '    <h5><strong><a href="javascript:displayCategory('+cat.id+');" class="dark-grey-text">'+cat.data.name+'</a></strong></h5>';
			html += '    <a href="javascript:displayCategory('+cat.id+');" class="grey-text"><h5>'+cat.data.name+'</h5></a>';
			html += '  </div>';
			html += '</div>';

        	var myPanel = $(html);
           	myPanel.appendTo(myCol);
           	myCol.appendTo('#contentPanel');
	   }
	   	
	}	
    }//end function displayCategory

</script>

</body>

</html>
